body {
    background-color: black;
    background-image: url(../images/background.png); 
    background-size: cover;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 16px;
}

.nav-items h3 {
    font-style: bold;
    font-weight: 700;
    font-size: 16px;
}

.top-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    /* position: relative; */
    border-color: black ;
    border-style: dotted;
    position: relative;
}

.logo {
    border: 3px;
    border-color: black;
    border-style: groove;
    position: absolute;
    left: 20px;
    height: 100%;
}
.logo > img {
    height: 100%;
}

.nav-item-box {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 600px;  
    border-style: dotted;
    align-items: flex-end;
    position: relative;
    left: 30%;
    /* justify-items:stretch; */
}

.nav-items {
    /* margin-inline: 20px; */
}

.cart{
    position: absolute;
    right: 20px;
    border-style: dashed;
    height: 100%;
}

.cart > img {
    height: 100%;
}


/* width: 100vh;
    height: 100vh; */
    /* background-attachment: fixed; */